.navbar-menu{
    margin: 0;
    padding: 0;
    text-align: center;
}
.navbar-item{
    display: inline-block;
    padding: 26px 10px;
}
.navbar-item a{
    text-decoration: none;
    color: grey;
}
.navbar-item:hover a{
    color: #34c9cb;
}
.navbar-item:hover{
    background-color: #f1f1f1;
}
.navbar-item1{
    margin-right: 1200px;
    margin-bottom: -75px;
}
.navbar-item:after{
    content: '';
    width: 15px;
    height: 15px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center center;
    vertical-align: middle;
    margin-left: 3px;
}

.navbar-item{
    position: relative;
}

.drop-menu{
    position: absolute;
    left: 0;
    top: 100%;
    margin: 0;
    padding: 0;
    width: 120px;
    background-color: #f1f1f1;
    display: none;
}

.navbar-item:hover .drop-menu{
    display: block;
}
.navbar-item3{
    display: inline-block;
    padding: 26px 10px;
}

















.drop-menu{
    margin: 0;
    padding: 0;
    border: 1px solid #f1f1f1;
}
.drop-item{
    list-style: none;
    display: inline-block;
    position: relative;
}
.drop-item a{
    color: #808080;
    text-decoration: none;
    padding: 20px 15px;
    display: inline-block;
}
.drop-menu-item:hover a{
    background-color: royalblue;
    color: #ffffff;
}
.sub-menu{
    margin: 0;
    padding: 0;
    border: 1px solid #f1f1f1;
    position: absolute;
    top: 100%;
    left: 0;
    width: 140px;
    display: none;
}
.sub-menu-item{
    list-style: none;
    color: black;
    padding: 10px 15px;
}
.sub-menu-item:hover{
    color: white;
    background-color: rgba(65,105,225,0.5);
}
.drop-menu-item:hover > .sub-menu{
    display: block;
}
.sub-menu-item > .sub-menu{
    left: 100%;
    top: 0;
}
.sub-menu-item:hover > .sub-menu{
    display: block;
}
